.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
}

.input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.send-button {
    color: black !important;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    background: lightgreen;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 30%;
    transition: 0.3s all ease-out;
}

.send-button:hover {
    color: white !important;
    cursor: pointer;
}
