html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.join-outer-container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #1A1A1D;
}

.join-inner-container {
    width: 20%;
}

.join-input {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
}

.heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    white-space: nowrap;
}

.button {
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    background: #1A1A1D;
    padding: 20px;
    border: 4px solid white !important;
    display: inline-block;
    width: 100%;
    transition: all 0.4s ease 0s;
}

.button:hover {
    color: black !important;
    background: lightgreen;
    border-color: lightgreen !important;
    transition: all 0.4s ease 0s;
}

.mt-20 {
    margin-top: 20px;
}

.lightgreen-color {
    color: lightgreen;
}

@media (min-width: 320px) and (max-width: 480px) {
    .join-outer-container {
        width: 100%;
    }

    .join-inner-container {
        width: 90%;
    }

}

@media (min-width: 480px) and (max-width: 1280px) {
    .join-outer-container {
        width: 100%;
    }

    .join-inner-container {
        width: 30%;
    }
}

button:focus {
    outline: 0;
}
